/MoC-Service/target/
/MoC-Domain/target/
/MoC-Messaging/target/
/MoC-WorkspaceModule/target/
/MoC - HtmlClient/nbproject/private/
/MoC - HtmlClient/node_modules
/MoC - HtmlClient/app/bower_components
/MoC-WorkspaceMessaging/target/
/MoC-Workspace/target//barry2/target/