<a ng-if="currentCompetition" ng-href="#/competitionView?id={{currentCompetition}}" style='position: absolute; top: 10px; left: 10px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-circle-arrow-left glyphiconButton"></span>
</a>
<a ng-if="!currentCompetition" ng-href="#/competitionOverview" style='position: absolute; top: 10px; left: 10px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-circle-arrow-left glyphiconButton"></span>
</a>
<a href="" ng-click="addToCompetition()" style='position: absolute; top: 10px; left: 45px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-plus glyphiconButton"></span>
</a>

<div class='row'>
    <div class='col-xs-4'>
        <h3>
            Select challenge
        </h3>
        <h4>
            Upload
        </h4>
        <form id='newChallengeUploadForm' method="post" enctype="multipart/form-data">
            <input type='file' style='display: none;' id='newChallengeUpload' />
            <input class='col-xs-8' type="text" id='newChallengeUploadDisplay' placeholder="Please select a file"  ng-model="fileName" readonly=""/>
            <span class='col-xs-4' style='text-align: right;' >
                <span style='margin-right: 5px' class='glyphicon glyphicon-folder-open glyphiconButton' onclick='newChallengeUpload.click()'></span>
                <span class='glyphicon glyphicon-upload glyphiconButton' ng-click="upload()"></span>
            </span>
        </form>
        <br><br>
        <h4>
            Available
        </h4>
        <ul class='notARealList'>
            <li ng-repeat="challenge in availableChallenges" style="cursor: pointer" ng-click="$parent.challengeInfo(challenge)">
                {{challenge}}
            </li>
        </ul>
    </div>
    <div class='col-xs-8'>
        <div class="row">
            <div class="col-xs-6">
                <h3>
                    General
                </h3>
                <ul class="notARealList">
                    <li>
                        {{"NAME"| translate}} <span style="float: right">{{currentChallenge.challengeName}}</span>
                    </li>
                    <li>
                        Duration: <span style="float: right">{{currentChallenge.duration}}</span> <!-- TODO: fix in framework -->
                    </li>
                </ul>
                <h3>
                    Hints
                </h3>
                <ul class="notARealList">
                    <li ng-repeat="hint in currentChallenge.hints">
                        {{hint.delay}} - {{hint.content}}
                    </li>
                </ul>
                <h3>
                    Descriptions
                </h3>
                <button class="btn btn-default" ng-click="description = 'participant'">Participants</button>
                <button class="btn btn-default" ng-click="description = 'spectator'">Spectators</button>
            </div>
            <div class="col-xs-6">
                <h3>
                    Author
                </h3>
                <ul class="notARealList">
                    <li>
                        {{"NAME"| translate}} <span style="float: right">{{currentChallenge.author.name}}</span>
                    </li>
                    <li>
                        {{"ORGANISATION"| translate}} <span style="float: right">{{currentChallenge.author.organisation}}</span>
                    </li>
                    <li>
                        Website: 
                        <span style="float: right">
                            <a target="_blank" ng-href="{{challenge.author.website}}">{{currentChallenge.author.website}}</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <div ng-switch on="description">
                    <div ng-switch-when="participant" ng-bind-html="renderHtml(currentChallenge.description.participant)">
                    </div>
                    <div ng-switch-default ng-bind-html="renderHtml(currentChallenge.description.spectator)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>