<a href="#/competitionOverview" style='position: absolute; top: 10px; left: 10px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-circle-arrow-left glyphiconButton"></span>
</a>
<a href="" ng-click="editCompetition()" style='position: absolute; top: 10px; left: 45px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-cog glyphiconButton"></span>
</a>

<div class="row" style="text-align: center">
    <h3>Current Challenge : {{currentCompetition.challenges[currentCompetition.currentChallenge].name}} - {{currentCompetition.challenges[currentCompetition.currentChallenge].state}} - {{currentCompetition.challenges[currentCompetition.currentChallenge].timeLeft}}</h3>
</div>
<div class="row" style="text-align: center;width: 80%;margin: 0 auto;padding-bottom: 15px; border-bottom: 2px solid #337ab7">
    <div class="col-xs-3">
        <button class="btn btn-primary" style="width: 125px" ng-click="startCompetition()">Start / Resume</button>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-primary" style="width: 125px">Pause</button>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-primary" style="width: 125px">Freeze</button>
    </div>
    <div class="col-xs-3">
        <button class="btn btn-primary" style="width: 125px">Stop</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h3>
            General
        </h3>
        <ul class="notARealList">
            <li>Name: <span style="float:right">{{currentCompetition.name}}</span> </li>
            <li>Start: <span style="float:right">{{currentCompetition.date | date:'medium'}}</span> </li>
            <li>Status: <span style="float:right">{{currentCompetition.status}}</span> </li>
        </ul>

        <h3>
            Challenges
        </h3>
        <ul class="notARealList">
            <li class="row" ng-repeat="chal in currentCompetition.challenges">
                <div class="col-xs-3" ng-switch on="chal.state">
                    <div ng-switch-when="completed" class="glyphicon glyphicon-asterisk" style="color: green"></div>
                    <div ng-switch-when="working" class="glyphicon glyphicon-asterisk" style="color: yellow"></div>
                    <div ng-switch-when="waiting" class="glyphicon glyphicon-asterisk" style="color: red"></div>
                </div>
                <div class="col-xs-9">
                    <span style="float:right">{{chal.name}}</span>
                </div>
            </li>
        </ul>
        <h3>
            Teams
        </h3>
        <div class="row">
            <div class="col-xs-6">
                <h4>
                    Teamname
                    <span class="glyphicon glyphicon-sort glyphiconButton" style="font-size:14px;" ng-click="teamSort = 'name';
                                reverseSort = !reverseSort"></span>
                </h4>
            </div>
            <div class="col-xs-6">
                <h4 style="float: right">
                    Score 
                    <span class="glyphicon glyphicon-sort glyphiconButton" style="font-size:14px;" ng-click="teamSort = 'score';
                                reverseSort = !reverseSort"></span>
                </h4>
            </div>
        </div>
        <ul class='notARealList' >
            <li ng-repeat="team in currentCompetition.teams| orderBy:teamSort:reverseSort">
                {{team.name}}
                <span style="float: right">
                    {{team.score}}
                </span>
            </li>
        </ul>
    </div>
    <div class="col-xs-8">
        <h3>
            Challenge details
        </h3>
        <ul class="notARealList">
            <li>Name <span style="float: right">{{currentCompetition.challenges[currentCompetition.currentChallenge].name}}</span></li>
            <li>Duration <span style="float: right">{{currentCompetition.challenges[currentCompetition.currentChallenge].duration}}</span></li>
            <li>Status <span style="float: right">{{currentCompetition.challenges[currentCompetition.currentChallenge].state}}</span></li>
            <li>Difficulty <span style="float: right">{{currentCompetition.challenges[currentCompetition.currentChallenge].difficulty}}</span></li>
        </ul>
        <h3>
            Author
        </h3>
        <ul class="notARealList">
            <li>Name <span style="float: right">{{currentCompetition.challenges[currentCompetition.currentChallenge].author.name}}</span></li>
            <li>Organisation <span style="float: right">{{currentCompetition.challenges[currentCompetition.currentChallenge].author.organisation}}</span></li>
        </ul>
        <h3>
            Descriptions
        </h3>
        <button class="btn btn-default" ng-click="description = 'participant'">Participants</button>
        <button class="btn btn-default" ng-click="description = 'spectator'">Spectators</button>
        <div ng-switch on="description">
            <div ng-switch-when="participant">
                {{currentCompetition.challenges[currentCompetition.currentChallenge].descriptions.participant}}
            </div>
            <div ng-switch-default>
                {{currentCompetition.challenges[currentCompetition.currentChallenge].descriptions.spectator}}
            </div>
        </div>
        <h3>
            Hints
        </h3>
        <ul class="notARealList">
            <li class="row" ng-repeat="hint in currentCompetition.challenges[currentCompetition.currentChallenge].hints">
                <div class="col-xs-1" ng-switch on="hint.isReleased">
                    <span ng-switch-when="true">
                        <span class="glyphicon glyphicon-ok" style="color:green"></span>
                    </span>
                    <span ng-switch-when="false" style="cursor: pointer; color:yellow">
                        <span class="glyphicon glyphicon-send"></span>
                    </span>
                </div>
                <div class="col-xs-1">
                    {{hint.releaseTime}}
                </div>
                <div class="col-xs-10">
                    {{hint.context}}
                </div>
            </li>
        </ul>
    </div>
</div>