<a href='' style='position: absolute; top: 10px; left: 10px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-align-justify glyphiconButton" ng-click="showServerInfo()"></span>
</a>
<div class="col-xs-5">
    <h3 style="width: 100%;text-align:center">
        {{"COMPETITIONS"| translate}} <span data-ng-click="addCompetition()" style='float:right' class="glyphicon glyphicon-plus glyphiconButton"></span>
    </h3>
    <br>
    <ul class="notARealList">
        <li ng-repeat="competition in competitions">
            <span style="cursor: pointer" ng-bind="competition.name" ng-click="$parent.setSelectedCompetition(competition)"></span>
            <span style="float: right">
                <a href='#/competitionView?id={{competition.id}}'><span class="glyphicon glyphicon-search glyphiconButton"></span></a> 
                <a href='' ng-click="editCompetition(competition.id)"><span class="glyphicon glyphicon-cog glyphiconButton"></span></a>
                <a href='' ng-click="removeCompetition(competition)"><span class="glyphicon glyphicon-trash glyphiconButton"></span></a>
            </span>
        </li>
    </ul>
</div>
<div class="col-xs-7" style="border-left: 2px solid #337ab7">
    <h3>
        {{"COMPETITION"| translate}} 
        <a ng-if="selectedCompetition.id" ng-href="#/competitionView?id={{selectedCompetition.id}}">
            <span style='float: right; font-size:0.8em' class="glyphicon glyphicon-arrow-right glyphiconButton"></span>
        </a>
    </h3>
    <ul class="notARealList">
        <li>{{"NAME"| translate}} <span style="float:right">{{selectedCompetition.name}}</span> </li>
        <li>{{"STARTS_AT"| translate}} <span style="float:right">{{selectedCompetition.competitionDate| date:'medium'}}</span> </li>
        <li>End <span style="float:right">{{selectedCompetition.endTime| date:'medium'}}</span> </li>
        <li>Location <span style="float:right">{{selectedCompetition.location| date:'medium'}}</span> </li>
        <li>{{"STATUS"| translate}} <span style="float:right">{{selectedCompetition.status}}</span> </li>
    </ul>
    <h3>
        {{"CHALLENGES"| translate}}
    </h3>
    <ul class="notARealList">
        <li ng-repeat="challenge in selectedCompetition.challenges">
            {{challenge.name}}
        </li>
    </ul>
    <h3>
        {{"TEAMS"| translate}}
    </h3>
    <div class='row'>
        <div class='col-xs-6'>
            <h4>
                {{"TEAM_NAME"| translate}}
                <span class="glyphicon glyphicon-sort glyphiconButton" style="font-size:14px;" ng-click="teamSort = 'name';
                            reverseSort = !reverseSort"></span>
            </h4>
        </div>
        <div class='col-xs-6'>
            <h4 style="float: right">
                {{"POINTS"| translate}}
                <span class="glyphicon glyphicon-sort glyphiconButton" style="font-size:14px;" ng-click="teamSort = 'score';
                            reverseSort = !reverseSort"></span>
            </h4>
        </div>
    </div>
    <ul class='notARealList' >
        <li ng-repeat="team in selectedCompetition.teams| orderBy:teamSort:reverseSort">
            {{team.name}}
            <span style="float: right">
                {{team.score}}
            </span>
        </li>
    </ul>
</div>