<a href="#/competitionOverview" style='position: absolute; top: 10px; left: 10px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-circle-arrow-left glyphiconButton"></span>
</a>
<a href="" ng-click="editCompetition()" style='position: absolute; top: 10px; left: 45px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-cog glyphiconButton"></span>
</a>

<div class="row" style="text-align: center">
    <h3>
        Current Challenge : 
        {{currentCompetition.rounds[currentRound].challenge.name}} - 
        {{currentCompetition.rounds[currentRound].challenge.competitionState}} - 
        <!--TODO: Add this to API -->
        {{currentCompetition.rounds[currentRound].challenge.timeLeft}}
    </h3>
</div>
<div class="row" style="text-align: center;width: 80%;margin: 0 auto;padding-bottom: 15px; border-bottom: 2px solid #337ab7">
    <div class="col-xs-3">
        <button class="btn btn-primary" style="width: 125px" ng-click="startCompetition()">Start / Resume</button>
    </div>
    <div class="col-xs-3">
        <!--TODO: Add this to API -->
        <button class="btn btn-primary" style="width: 125px" ng-click="pauseCompetition()">Pause</button>
    </div>
    <div class="col-xs-3">
        <!--TODO: Add this to API -->
        <button class="btn btn-primary" style="width: 125px" ng-click="freezeCompetition()">Freeze</button>
    </div>
    <div class="col-xs-3">
        <!--TODO: Add this to API -->
        <button class="btn btn-primary" style="width: 125px" ng-click="stopCompetition()">Stop</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h3>
            General
        </h3>
        <ul class="notARealList">
            <li>{{"NAME"| translate}} <span style="float:right">{{currentCompetition.name}}</span> </li>
            <li>{{"STARTS_AT"| translate}} <span style="float:right">{{currentCompetition.startTime| date:'medium'}}</span> </li>
            <li>{{"STATUS"| translate}} <span style="float:right">{{currentCompetition.competitionState}}</span> </li>
        </ul>

        <h3>
            {{"CHALLENGES"| translate}}
        </h3>
        <ul class="notARealList">
            <li class="row" ng-repeat="round in currentCompetition.rounds">
                <div class="col-xs-3" ng-switch on="round.roundState">
                    <!--TODO: Add this to API -->
                    <div ng-switch-when="ENDED" class="glyphicon glyphicon-asterisk" style="color: green"></div>
                    <div ng-switch-when="ONGOING" class="glyphicon glyphicon-asterisk" style="color: yellow"></div>
                    <div ng-switch-when="NOT_STARTED" class="glyphicon glyphicon-asterisk" style="color: red"></div>
                </div>
                <div class="col-xs-9">
                    <span style="float:right; cursor: pointer" ng-click="$parent.currentRound = $index">
                        {{round.challenge.name}}
                    </span>
                </div>
            </li>
        </ul>
        <h3>
            {{"TEAMS"| translate}}
        </h3>
        <div class="row">
            <div class="col-xs-6">
                <h4>
                    {{"TEAM_NAME"| translate}}
                    <span class="glyphicon glyphicon-sort glyphiconButton" style="font-size:14px;" ng-click="teamSort = 'name';
                                reverseSort = !reverseSort"></span>
                </h4>
            </div>
            <div class="col-xs-6">
                <h4 style="float: right">
                    {{"POINTS"| translate}} 
                    <span class="glyphicon glyphicon-sort glyphiconButton" style="font-size:14px;" ng-click="teamSort = 'score';
                                reverseSort = !reverseSort"></span>
                </h4>
            </div>
        </div>
        <ul class='notARealList' >
            <li ng-repeat="team in currentCompetition.teams| orderBy:teamSort:reverseSort">
                {{team.name}}
                <span style="float: right">
                    {{team.score}}
                </span>
            </li>
        </ul>
    </div>
    <div class="col-xs-8">
        <h3>
            Challenge details
        </h3>
        <ul class="notARealList">
            <li>{{"NAME"| translate}} <span style="float: right">{{currentCompetition.rounds[currentRound].challenge.name}}</span></li>
            <!--TODO: add this API -->
            <li>Suggested duration <span style="float: right">{{currentCompetition.rounds[currentRound].challenge.suggestedDuration}}</span></li>
            <!--TODO: add this API -->
            <li>{{"STATUS"| translate}} <span style="float: right">{{currentCompetition.rounds[currentRound].roundState}}</span></li>
            <li>{{"DIFFICULTY"| translate}} <span style="float: right">{{currentCompetition.rounds[currentRound].challenge.difficulty}}</span></li>
        </ul>
        <h3>
            Author
        </h3>
        <ul class="notARealList">
            <!--TODO: add this API -->
            <li>{{"NAME"| translate}} <span style="float: right">{{currentCompetition.rounds[currentRound].challenge.author.name}}</span></li>
            <!--TODO: add this API -->
            <li>{{"ORGANISATION"| translate}} <span style="float: right">{{currentCompetition.rounds[currentRound].challenge.author.organisation}}</span></li>
        </ul>
        <h3>
            Descriptions
        </h3>
        <button class="btn btn-default" ng-click="description = 'participant'">Participants</button>
        <button class="btn btn-default" ng-click="description = 'spectator'">Spectators</button>
        <div ng-switch on="description">
            <div ng-switch-when="participant">
                <!--TODO: add this API -->
                {{currentCompetition.rounds[currentRound].challenge.descriptions.participant}}
            </div>
            <div ng-switch-default>
                <!--TODO: add this API -->
                {{currentCompetition.rounds[currentRound].challenge.descriptions.spectator}}
            </div>
        </div>
        <h3>
            {{"HINTS"| translate}}
        </h3>
        <ul class="notARealList">
            <li class="row" ng-repeat="hint in currentCompetition.rounds[currentRound].challenge.hints">
                <div class="col-xs-1" ng-switch on="hint.isReleased">
                    <span ng-switch-when="true">
                        <span class="glyphicon glyphicon-ok" style="color:green"></span>
                    </span>
                    <span ng-switch-when="false" style="cursor: pointer; color:yellow">
                        <span class="glyphicon glyphicon-send"></span>
                    </span>
                </div>
                <div class="col-xs-1">
                    {{hint.time}}
                </div>
                <div class="col-xs-10">
                    {{hint.content}}
                </div>
            </li>
        </ul>
    </div>
</div>