<a href="#/competitionOverview" style='position: absolute; top: 10px; left: 10px;'>
    <span style="font-size: 25px" class="glyphicon glyphicon-circle-arrow-left glyphiconButton"></span>
</a>

<div class='row'>
    <div class='col-xs-4'>
        <h3>
            Users
        </h3>
        <ul class='notARealList'>
            <li style='cursor: pointer' ng-repeat="user in users" ng-click='$parent.showDetailsFor = "user";'>
                {{user}}
            </li>
        </ul>

        <h3>
            Teams
        </h3>
        <ul class='notARealList'>
            <li style='cursor: pointer' ng-repeat="team in teams" ng-click='$parent.showDetailsFor = "team";'>
                {{team}}
            </li>
        </ul>
    </div>
    <div class='col-xs-4' ng-switch on='showDetailsFor'>
        <div ng-switch-when="user">
            <h3>
                Selected user
            </h3>
            <ul class='notARealList'>
                <li>
                    Name: <span style='float: right'>{{currentUser.name}}</span>
                </li>
                <li>
                    Email: <span style='float: right'>{{currentUser.email}}</span> 
                </li>
                <li>
                    Organisation: <span style='float: right'>{{currentUser.organisation}}</span> 
                </li>
                <li>
                    Teams: 
                    <br>
                    <ul style='text-align: right'>
                        <li ng-repeat="team in currentUser.teams">
                            {{team}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ng-switch-default>
            <h3>
                Selected team
            </h3>
            <ul class='notARealList'>
                <li ng-repeat="user in currentTeam">
                    {{user}}
                </li>
            </ul>
        </div>
    </div>
    <div class='col-xs-4'>
        <h3>
            New user
        </h3>
        <form ng-submit="register()">
            <div class='row'>
                <div class='col-xs-12'>
                    <label for='usernameInput'>Username</label>
                    <input type='text' required ng-model='user.username' id='usernameInput' placeholder='username' style='float: right'/>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-12">
                    <label for='passwordInput'>Password</label>
                    <input type='password' required ng-model='user.password' id='passwordInput' placeholder="password" style='float: right'/>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-12">
                    <label for='nameInput'>Name</label>
                    <input type='text' required ng-model='user.name' id='nameInput' placeholder='name' style='float: right'/>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-12">
                    <label for='organisationInput'>Organisation</label>
                    <input type='text' required ng-model='user.organisation' id='organisationInput' placeholder='organisation' style='float: right'/>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-12">
                    <label for='emailInput'>Email</label>
                    <input type='email' ng-model='user.email' id='emailInput' placeholder="email" style='float: right'/>
                </div>
            </div>
            <div class='row'>
                <div class="col-xs-12">
                    <input type='submit' style='float: right' class='btn btn-primary' value='create user'/>
                </div>
            </div>
        </form>
    </div>
</div>