form input:not([type="submit"]){
    margin-bottom: 5px;
}

.newsfeedBox{
    overflow-y: scroll; 
    height: 350px;
}

#foundUserTable td, #foundUserTable th{
    border: 1px solid black;
    padding-right: 15px;
}