<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        min-width: 350px !important;
    }
</style>
<div class="dialog-contents" style='padding:25px;padding-bottom:125px'>
    <div>
        <h3>
            Add to team
        </h3>
        <label for='newTeamOwner'>New member(s)</label>
        <br>
        <select multiple style='float: right; width: 90%' id='newTeamOwner'>
            <option ng-repeat="user in availableParticipants">
                {{user}}
            </option>
        </select>
    </div>
    <input type="button" class="btn btn-primary" style='float: right; margin-top: 10px;' value="OK" ng-click="closeThisDialog()"/>
</div>