<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        min-width: 350px !important;
    }
</style>
<div class="dialog-contents" style='padding:25px;padding-bottom: 50px'>
    <div>
        <h3>
            {{"NEW_TEAM"| translate}}
        </h3>
        <label for='newTeamName'>{{"NAME"| translate}}</label>
        <input style='float: right' type='text' id='newTeamName'/>
        <br><br>
        <label for='newTeamOwner'>{{"OWNER"| translate}}</label>
        <select style='float: right' id='newTeamOwner'>
            <option ng-repeat="user in availableParticipants" value="{{user.id}}">
                {{user.username}}
            </option>
        </select>
    </div>
    <input type="button" class="btn btn-primary" style='float: right; margin-top: 10px;' value="OK" ng-click="closeThisDialog()"/>
</div>