<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        min-width: 1100px !important;
    }
    
    .form-group{
        margin-bottom: 5px;
    }
</style>
<div class="dialog-contents" style='padding:25px; padding-bottom: 50px'>
    <div class="row">
        <div class="col-xs-3">
            <h3>
                General
            </h3>
            <div class="form-group">
                <label for='newCompetitionName'>{{"NAME"| translate}}</label>
                <input type='text' id='newCompetitionName' data-ng-model='currentCompetition.name' style='float: right; width: 150px'/>
            </div>
            <div class="form-group">
                <label for='newCompetitionDate'>{{"STARTS_AT"| translate}}</label>
                <div class="dropdown" style='float: right'>
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                        <div class="input-append"><span>{{currentCompetition.competitionDate| date:'yyyy-MM-dd HH:mm'}}</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="currentCompetition.competitionDate"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                </div>   
                <br>
            </div>
            <div class="form-group">
                <label for='newCompetitionDate'>End</label>
                <div class="dropdown" style='float: right'>
                    <a class="dropdown-toggle my-toggle-select" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="">
                        <div class="input-append"><span>{{currentCompetition.endTime| date:'yyyy-MM-dd HH:mm'}}</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                        <datetimepicker data-ng-model="currentCompetition.endTime"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                </div>   
                <br>
            </div>
            <div class="form-group">
                <label for='newCompetitionName'>Location</label>
                <input type='text' id='newCompetitionLocation' data-ng-model='currentCompetition.location' style='float: right; width: 150px'/>
            </div>
        </div>
        <div class="col-xs-5">
            <h3>
                {{"TEAMS"| translate}}
                <span style='float: right'>
                    <span class='glyphicon glyphicon-plus glyphiconButton' ng-click='addTeam()'></span>
                </span>
            </h3>
            <div class="row">
                <div class="col-xs-6" style="overflow-x: scroll;">
                    <ul class="notARealList">
                        <li ng-repeat="team in currentCompetition.teams" ng-click="$parent.selectedTeam = $index;">
                            <span ng-bind="team.name" style="cursor: pointer; white-space: nowrap;"></span> <span style="float: right;" class="glyphicon glyphicon-trash glyphiconButton"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <h4 style="margin-top: 0px">
                        {{"TEAM_MEMBER"| translate}}
                        <span style='float: right'>
                            <span class='glyphicon glyphicon-plus glyphiconButton' ng-click='addMembers()'></span>
                        </span>
                    </h4>
                    <ul class="notARealList">
                        <li ng-repeat="member in currentCompetition.teams[selectedTeam].members| orderBy:name">
                            <span ng-bind="member" style="cursor: pointer"></span> <span style="float: right;" class="glyphicon glyphicon-trash glyphiconButton"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <h3>
                {{"CHALLENGES"| translate}} 
                <span style='float: right'>
                    <span class='glyphicon glyphicon-plus glyphiconButton'></span>
                </span>
            </h3>
            <ul class='notARealList'>
                <li ng-repeat="challenge in currentCompetition.challenges">
                    {{challenge.name}}
                    <span style='float:right'>
                        <span class='glyphicon glyphicon-chevron-up glyphiconButton' ng-if="!$first"></span>
                        <span class='glyphicon glyphicon-chevron-down glyphiconButton' ng-if='!$last'></span>
                        <span class='glyphicon glyphicon-cog glyphiconButton' ng-click="editChallenge(challenge.id)"></span>
                        <span class='glyphicon glyphicon-trash glyphiconButton'></span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <input type="button" class="btn btn-primary" style='float: right; margin-top: 10px;' value="OK" ng-click="closeThisDialog()"/>
</div>