<div style="width:40%; float:left;">
    <h1>Create user</h1>
    <form name="createUserForm" ng-submit="createUser()">
        <table>
            <tr>
                <td>Email: </td>
                <td><input type="email" ng-model="user.email" required></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" ng-model="user.password" required></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td><input type="text" ng-model="user.username" required></td>
            </tr>
            <tr>
                <td>Name: </td>
                <td><input type="text" ng-model="user.name" required></td>
            </tr>
            <tr>
                <td>Organisation: </td>
                <td><input type="text" ng-model="user.organisation"></td>
            </tr>

            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Create user"/>
                </td>
            </tr>
        </table>
    </form>

    <h1>Users:</h1>
    <table border="1" cellpadding="3px">
        <tr>
            <td>Email</td>
            <td>Username</td>
            <td>Name</td>
            <td>Organisation</td>
            <td>Delete</td>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.organisation}}</td>
            <td><input type="submit" value="X" ng-click="deleteUser(user.id)"></td>
        </tr>
    </table>
</div>

<div style="width:40%; float:left;">

    <h1>Create team</h1>
    <form name="createUserForm" ng-submit="createTeam()">
        <table>
            <tr>
                <td>Teamname: </td>
                <td><input type="text" ng-model="team.name" required></td>
            </tr>
            <tr>
                <td>Initiator: </td>
                <td>
                    <select ng-model="team.initiator" 
                            ng-options="user as user.name for user in users"></select>
                </td>
            </tr>
            <tr>
                <td>Competition: </td>
                <td>
                    <select ng-model="competition" 
                            ng-options="competition as competition.name for competition in competitions"></select>
                </td>
            </tr>

            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="Create team"/>
                </td>
            </tr>
        </table>
    </form>

    <h1>Teams: </h1>
    <select ng-model="selected_competition" 
            ng-options="competition as competition.name for competition in competitions" ng-change="refreshTeams()"></select>
    <table border="1" cellpadding="3px">
        <tr>
            <td>Name</td>
            <td>Competition</td>
            <td>Delete</td>
        </tr>
        <tr ng-repeat="team in teams">
            <td>{{team.name}}</td>
            <td>{{team.competition.name}}</td>
            <td><input type="submit" value="X" ng-click="deleteTeam(team.id)"></td>
        </tr>
    </table>
</div>
