<h1>Create user</h1>
<form name="createUserForm" ng-submit="createUser()">
    <table>
        <tr>
            <td>Username: </td>
            <td><input type="text" ng-model="user.username" required></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" ng-model="user.password" required></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td><input type="text" ng-model="user.name" required></td>
        </tr>
        <tr>
            <td>Organisation: </td>
            <td><input type="text" ng-model="user.organisation"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" ng-model="user.email" required></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Create user"/>
            </td>
        </tr>
    </table>
</form>

<h1>Users:</h1>
<table border="1">
    <tr>
        <td>Username</td>
        <td>Name</td>
        <td>Email</td>
        <td>Organisation</td>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.organisation}}</td>
    </tr>

</table>
<ul >
</ul>

<h1>Messaging demo</h1>
<form ng-submit="compileWorkspace()">
    <input type="submit" value="Compile workspace"/>
</form>