<h1>Create user</h1>
<form name="createUserForm" ng-submit="createUser()">
    <table>
        <tr>
            <td>Username: </td>
            <td><input type="text" ng-model="user.username" required></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" ng-model="user.password" required></td>
        </tr>
        <tr>
            <td>Name: </td>
            <td><input type="text" ng-model="user.name" required></td>
        </tr>
        <tr>
            <td>Organisation: </td>
            <td><input type="text" ng-model="user.organisation"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" ng-model="user.email" required></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
               <input type="submit" value="Create user"/>
            </td>
        </tr>
    </table>
</form>

<h1>Users:</h1>