<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#competitions">Competitions</a></li>
    <li role="presentation"><a href="#teams">My Teams</a></li>
</ul>


<br>

<div class="row">
    <div class="col-xs-6">
        <h4>Active Competitions</h4>
        <div ng-show="activeCompetitions.length == 0">There are currently no active competitions.</div>
        <div class="list-group" style="max-height:200px; overflow:auto;">
            <a ng-click="selectCompetition(competition.id)" class="list-group-item" ng-class="{active : isSelected(competition.id)}" ng-repeat="competition in activeCompetitions" style="cursor:pointer;">
                {{competition.name}}
            </a>
        </div>

        <h4>Future Competitions</h4>
        <div ng-show="futureCompetitions.length == 0">There are currently no future competitions.</div>
        <div class="list-group" style="max-height:200px; overflow:auto;">
            <a ng-click="selectCompetition(competition.id)" class="list-group-item" ng-class="{active : isSelected(competition.id)}" ng-repeat="competition in futureCompetitions" style="cursor:pointer;">
                {{competition.name}}
            </a>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Competition info</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <strong>
                            Name:<br>
                            Date:<br>
                            Starts at:
                        </strong>
                    </div>
                    <div class="col-xs-5">
                        {{competition.name}}<br>
                        {{competition.competitionDate| date : 'mediumDate'}}<br>
                        {{competition.startTime| date : 'shortTime' }}
                    </div>
                    <div class="col-xs-3" ng-show="isActive(competition.id)">
                        <a ng-href="#competition?id={{competition.id}}">
                            <span class="btn btn-primary" style="margin-top:12px;">Start coding!</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Challenges</h3>
            </div>
            <div class="panel-body">
                <div ng-show="challenges.length === 0">No challenges have been added to this competition yet.</div>
                <table ng-show="challenges.length > 0" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Difficulty</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="challenge in challenges">
                            <td>{{challenge.name}}</td>
                            <td>{{challenge.difficulty}}</td>
                            <td>{{challenge.suggestedDuration}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Teams</h3>
            </div>
            <div class="panel-body">
                <div ng-show="challenges.length === 0">No teams have been added to this competition yet.</div>
                <table ng-show="challenges.length > 0" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Owner</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teams">
                            <td>{{team.name}}</td>
                            <td>{{team.owner.username}}</td>
                            <td>{{team.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>