<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#competitions">{{ 'COMPETITIONS' | translate }}</a></li>
    <li role="presentation"><a href="#teams">{{ 'MYTEAMS' | translate }}</a></li>
</ul>


<br>

<div class="row">
    <div class="col-xs-6">
        <h4>{{ "ACTIVE_COMPETITIONS" | translate }}</h4>
        <div ng-show="activeCompetitions.length == 0">{{ "NO_ACTIVE_COMPETITIONS" | translate }}.</div>
        <div class="list-group" style="max-height:200px; overflow:auto;">
            <a ng-click="selectCompetition(competition.id)" class="list-group-item" ng-class="{active : isSelected(competition.id)}" ng-repeat="competition in activeCompetitions" style="cursor:pointer;">
                {{competition.name}}
            </a>
        </div>

        <h4>{{ "FUTURE_COMPETITIONS" | translate }} </h4>
        <div ng-show="futureCompetitions.length == 0">{{ "NO_FUTURE_COMPETITIONS" | translate }}.</div>
        <div class="list-group" style="max-height:200px; overflow:auto;">
            <a ng-click="selectCompetition(competition.id)" class="list-group-item" ng-class="{active : isSelected(competition.id)}" ng-repeat="competition in futureCompetitions" style="cursor:pointer;">
                {{competition.name}}
            </a>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "COMPETITION_INFO" | translate }} </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <strong>
                            {{ "NAME" | translate }}:<br>
                            {{ "DATE" | translate }}:<br>
                            {{ "STARTS_AT" | translate }}:
                        </strong>
                    </div>
                    <div class="col-xs-5">
                        {{competition.name}}<br>
                        {{competition.competitionDate| date : 'mediumDate'}}<br>
                        {{competition.startTime| date : 'shortTime' }}
                    </div>
                    <div class="col-xs-3" ng-show="isActive(competition.id)">
                        <a ng-href="#competition?id={{competition.id}}">
                            <span class="btn btn-primary" style="margin-top:12px;">{{"START_CODING" | translate}}</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{"CHALLENGES" | translate}}</h3>
            </div>
            <div class="panel-body">
                <div ng-show="challenges.length === 0">{{"NO_CHALLENGE" | translate}}</div>
                <table ng-show="challenges.length > 0" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>{{ "NAME" | translate }}</th>
                            <th>{{ "DIFFICULTY" | translate }}</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="challenge in challenges">
                            <td>{{challenge.name}}</td>
                            <td>{{challenge.difficulty}}</td>
                            <td>{{challenge.suggestedDuration}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "TEAMS" | translate }}</h3>
            </div>
            <div class="panel-body">
                <div ng-show="challenges.length === 0">{{ "NO_TEAMS" | translate }}</div>
                <table ng-show="challenges.length > 0" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>{{ "NAME" | translate }}</th>
                            <th>{{ "OWNER" | translate }}</th>
                            <th>{{ "POINTS" | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teams">
                            <td>{{team.name}}</td>
                            <td>{{team.owner.username}}</td>
                            <td>{{team.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>