<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#teams">Teams</a></li>
    <li role="presentation" class="active"><a href="#inviteUsers">Invite Users</a></li>
</ul>

<br>
<div class="alert alert-success" role="alert" ng-if="showSuccesAlert">
    <strong>Succes!</strong> An email has been sent, the user has been invited to the team.
</div>
<div class="alert alert-danger" role="alert" ng-if="showFailedAlert">
    <strong>Oops!</strong> Something went wrong when trying to invite the user. {{error}}
</div>

<h4>Add team member</h4>

<form name="radioButtons">
    <label for="newUserCheckbox">New user</label>
    <input name="xxx" type="radio" id="newUserRadioButton" checked>
    <br/><br/>
    <label for="existingUserCheckbox">Existing user</label>
    <input name="xxx" id="existingUserRadioButton" type="radio">
</form>
<br>
<hr>
<br>

<!--

todo

teamid ophalen
controller fixen zodat email en id erin mee komt

invite sturen

-->

<div id="newUserPanel">

    <form style="display:inline-block;text-align: left" ng-submit="inviteUser()">
        <div class="form-group">
            <label for="emailInput" style="">Email</label>
            <input required type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="email" style="display: table-cell"/>
            <input type="submit" class="btn btn-default" value="Invite user"/>
        </div>
    </form>
</div>





<div id="existingUserPanel">
    <div class="form-group">

        <label for="existingInput" style="">Existing user:</label><br>

        <select id="existingInput" ng-model="user" ng-options="user as user.name for user in users"></select>
    </div>
</div>



<script>
    $(window).ready(function () {
        $('#existingUserPanel').hide();
        $('input[type="radio"]').on('click', function () {
            if ($(this).attr('id') == 'newUserRadioButton') {
                $('#existingUserPanel').hide();
                $('#newUserPanel').show();
            }
            else {
                $('#newUserPanel').hide();
                $('#existingUserPanel').show();
            }
        });
    });
</script>