<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#competitions">{{ 'COMPETITIONS' | translate }}</a></li>
    <li role="presentation" class="active"><a href="#teams">{{ 'MYTEAMS' | translate }}</a></li>
</ul>


<br>

<h4> {{ 'NEW_TEAM' | translate }}</h4>

<form style="display:inline-block;text-align: left" ng-submit="createTeam()">
    <div class="form-group">
        <label for="teamnameInput" style="">{{ 'TEAM_NAME' | translate}}:</label>
        <input required type="text" class="form-control" id="teamnameInput" placeholder="team name" ng-model="team.name" style="display: table-cell"/>
    </div>
    <div class="form-group">

        <label for="competitionInput" style="">{{ 'COMPETITION' | translate }}:</label><br>

        <select id="competitionInput" ng-model="team.competition" 
                ng-options="competition as competition.name for competition in competitions"></select>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="{{ 'CREATE_TEAM' | translate }}"/>
    </div>
</form>