<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#users">users</a></li>
    <li role="presentation" class="active"><a href="#inviteUsers">Invite Users</a></li>
</ul>


<br>

<h4>Add team member</h4>


<form name="radioButtons">
    <label for="newUserCheckbox">New user</label>
    <input name="xxx" type="radio" id="newUserRadioButton" checked>
    <br/><br/>
    <label for="existingUserCheckbox">Existing user</label>
    <input name="xxx" id="existingUserRadioButton" type="radio">
</form>




<div>
    <label for="teamInput" style="">teams</label><br>

    <select id="teamInput" ng-model="teamSelect" 
            ng-options="team as team.name for team in teams">
    </select>
</div>




<br>
<hr>
<br>



<!--

todo

teamlijst/id ophalen
controller fixen zodat email en id erin mee komt

invite sturen

-->





<div id="newUserPanel">

    <form style="display:inline-block;text-align: left" ng-submit="inviteUser()">
        <div class="form-group">
            <label for="emailInput" style="">email</label>
            <input required type="email" class="form-control" id="emailInput" placeholder="Email" ng-model="email" style="display: table-cell"/>
            <input type="submit" class="btn btn-default" value="Invite user"/>
        </div>
    </form>
</div>





<div id="existingUserPanel">
    <div class="form-group">

        <label for="existingInput" style="">Existing user:</label><br>

        <select id="existingInput" ng-model="user" ng-options="user as user.name for user in users"></select>
    </div>
</div>



<script>
            $(window).ready(function () {
                $('#existingUserPanel').hide();
                $('input[type="radio"]').on('click', function () {
                    if ($(this).attr('id') == 'newUserRadioButton') {
                        $('#existingUserPanel').hide();
                        $('#newUserPanel').show();
                    }
                    else {
                        $('#newUserPanel').hide();
                        $('#existingUserPanel').show();
                    }
                });
            });
</script>