<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#competitions">Competitions</a></li>
    <li role="presentation" class="active"><a href="#teams">My Teams</a></li>
</ul>


<br>

<h4>Create new team</h4>

<form style="display:inline-block;text-align: left" ng-submit="createTeam()">
    <div class="form-group">
        <label for="teamnameInput" style="">Team name:</label>
        <input required type="text" class="form-control" id="teamnameInput" placeholder="team name" ng-model="team.name" style="display: table-cell"/>
    </div>
    <div class="form-group">

        <label for="competitionInput" style="">Competition:</label><br>

        <select id="competitionInput" ng-model="team.competition" 
                ng-options="competition as competition.name for competition in competitions"></select>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Create team"/>
    </div>
</form>