<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#competitions">Competitions</a></li>
    <li role="presentation" class="active"><a href="#teams">My Teams</a></li>
</ul>


<br>

<div class="row">
    <div class="col-xs-6">
        <h4>My Teams</h4>
        <div class="list-group" id="teams" style="max-height:200px; overflow:auto;">
            <a ng-click="selectTeam(team.id)" class="list-group-item" ng-class="{active : isSelected(team.id)}" ng-repeat="team in teams" style="cursor:pointer;">
                {{team.name}} 
            </a>
        </div>

        <h4>Invitations</h4>
        <div ng-show="invitations.length === 0">You are currently not invited to any teams.</div>
        <div ng-show="invitations.length > 0" class="list-group" style="max-height:200px; overflow:auto;">
            <a ng-click="selectInvitations(invitation.id)" class="list-group-item" ng-repeat="invitation in invitations" style="cursor:pointer;" \>
                {{invitation.team_id}}
            </a>

        </div>
        <br>
        <a href="#newteam"><span class="btn btn-default">Create new team</span></a>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team info</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <strong>
                            Name:<br>
                            Competition:<br>
                            Team owner
                        </strong>
                    </div>
                    <div class="col-xs-8">
                        {{team.name}}<br>
                        {{team.competition.name}}<br>
                        {{team.owner.username}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team members</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in participants">
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>

                            <td ng-if="isOwnerLoggedIn(team.owner.username)">
                                <button type="button" class="btn btn-sm btn-danger" ng-click="leaveTeam(user)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a href="#newteammember?teamid={{team.id}}" ng-if="isOwnerLoggedIn(team.owner.username)">
                    <span class="btn btn-primary">Add new team member</span>
                </a>
            </div>

        </div>
    </div>

</div>
