<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#competitions">Competitions</a></li>
    <li role="presentation" class="active"><a href="#teams">My Teams</a></li>
</ul>


<br>

<div class="row">
    <div class="col-xs-6">
        <h4>My Teams</h4>
        <div class="list-group" style="max-height:200px; overflow:auto;">
            <a ng-click="selectTeam(team.competition.id, team.id)" class="list-group-item" ng-class="{active : isSelected(team.id)}" ng-repeat="team in user.teams" style="cursor:pointer;">
                {{team.name}}
            </a>
        </div>

        <h4>Invitations</h4>
        <div class="list-group" style="max-height:200px; overflow:auto;">
            <a href="#" class="list-group-item">Team 1</a>
            <a href="#" class="list-group-item">Team 2</a>
            <a href="#" class="list-group-item">Team 3</a>
        </div>
        
        <a href="#newteam"><span class="btn btn-default">Create new team</span></a>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team info</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        <strong>
                            Name:<br>
                            Competition:<br>
                            Team leader:
                        </strong>
                    </div>
                    <div class="col-xs-8">
                        {{team.name}}<br>
                        {{team.competition.name}}<br>
                        {{team.initiator}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Team members</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Member 1</td>
                        </tr>
                        <tr>
                            <td>Member 2</td>
                        </tr>
                        <tr>
                            <td>Member 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>