form input:not([type="submit"]){
    margin-bottom: 5px;
}

.blueRoundBtn{
    float: right; 
    font-size:0.95em; 
    cursor:pointer; 
    border-radius:50px;
    color:white;
    height:25px;
    width:25px;
    text-align:center;
    padding:0;
    margin:0;
    vertical-align:middle;
    box-shadow:0px 0px 8px 0px rgba(0,0,0,0.75);
    background-color:#337ab7
}

.page-header {
  border-bottom: 2px solid #337ab7 !important;
}

.notARealList{
    padding: 0;
    list-style: none;
}

.notARealList > *:not(:last-child){
    border-bottom: 1px #ddd solid;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 550px !important;
}